$primary: #0058AE;
$success: #00bd72;
$warning: #FFBF00;
$error: #ED1C24;
$gray: #A5A8BA;
$fontColor: #555;
$destaque: #ebf4fc;
$background: #f7f8f9;

.MM-Button-Primary {
  color: #fff !important;
  background-color: $primary !important;
  border-color: $primary !important;
}

.MM-Button-PrimaryOutline {
  border-color: $primary !important;
  color: $primary !important;
  background-color: transparent !important;
}

.MM-Button-Error {
  color: #fff !important;
  background-color: $error !important;
  border-color: $error !important;
}

.MM-Button-ErrorOutline {
  border-color: $error !important;
  color: $error !important;
  background-color: transparent !important;
}

.MM-Button-Warning {
  color: #fff !important;
  background-color: $warning !important;
  border-color: $warning !important;
}

.MM-Button-WarningOutline {
  border-color: $warning !important;
  color: $warning !important;
  background-color: transparent !important;
}

.MM-Button-Success {
  color: #fff !important;
  background-color: $success !important;
  border-color: $success !important;
}

.MM-Button-SuccessOutline {
  border-color: $success !important;
  color: $success !important;
  background-color: transparent !important;
}

.MM-Button-Disabled {
  color: #fff !important;
  background-color: $gray !important;
  border-color: $gray !important;
  cursor: not-allowed !important;
}

.MM-Button-DisabledOutline {
  border-color: $gray !important;
  color: $gray !important;
  background-color: transparent !important;
  cursor: not-allowed !important;
}

.MM-Shadow {
  box-shadow: 0 1px 2px 0 $destaque, inset 0 -1px 2px 0 #d1e0ee !important;
}

.MM-Destaque {
  background-color: $destaque;
}

.MM-Badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 10px;
}

.MM-Text-Primary {
  color: $primary !important;
}

.MM-Text-PrimaryOutline {
  background-color: $primary !important;
  color: #fff !important;
}

.MM-Text-Success {
  color: $success !important;
}

.MM-Text-SuccessOutline {
  background-color: $success !important;
  color: #fff !important;
}

.MM-Text-Warning {
  color: $warning !important;
}

.MM-Text-WarningOutline {
  background-color: $warning !important;
  color: #fff !important;
}

.MM-Text-Error {
  color: $error !important;
}

.MM-Text-ErrorOutline {
  background-color: $error !important;
  color: #fff !important;
}
