.MM-Title {
  margin: 5px 0;
  font-size: 1.5em;
  display: block;
}

.MM-Capitalize {
  text-transform: capitalize;
}

.MM-TextForm {
  width: 100%;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}
.MM-TextFormRow {
  display: flex;
  justify-content: stretch;
  padding: 0 0.5em;
}
.MM-TextFormLabel {
  flex-grow: 1;
  width: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin: 0.2em 0;
  margin-right: 1rem;
}
.MM-TextFormValue {
  flex-grow: 2;
  width: 100%;
  display: flex;
  align-items: center;
  word-wrap: normal;
}